<body>

{{#if isModeLogin}}

	{{#if isComplete}}
		Login Success
	{{else}}
		<form method="post" action="">
	    <input type="tel" name="mobile">
	    <input type="text" name="email">
	    <input type="password" name="password">
	    <input type="submit" value="Submit">
		</form>


	{{/if}}
{{/if}}

{{#if isModeForgot}}
	<form method="post" action="">
	    <input type="tel" name="mobile">
	    <input type="text" name="email">
	    <input type="submit" value="Submit">
	</form>
{{/if}}

{{#if isModeReset}}
	<form method="post" action="">
	    <input type="password" name="password">
	    <input type="submit" value="Submit">
	</form>
{{/if}}

{{#if error}}
	{{error}}
{{/if}}

</body>