<body>

<form method="post" action="">
    <input type="tel" name="mobile">
    <input type="text" name="email">
    <input type="password" name="password">
    <input type="submit" value="Submit">
</form>
</body>